body {
    display: flex;
}
.wrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divCard {
    width: 210px;
    border: solid 5px black;
    margin: 5px;
    padding: 5px;
}
.comment {
    width: 200px;
    margin: 5px;
    padding: 5px;
    background: beige;
}